<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="" />
    <title>Soccer {% block title %}{% endblock %}</title>
</head>
<body>
    <h1>Soccer</h1>
    <nav>
        <a href="/users">Users</a>
        <a href="/locations">Locations</a>
        <a href="/users/new">New User</a>
        <a href="/locations/new">New Location</a>
    </nav>
    {% block content %} {% endblock %}
</body>
</html>